panel "clock" anchor="bottom-right" layer="desktop" click-through=#true offset-x=48 offset-y=56 visible="{var.dc}" {
    column class="dk" {
        text "{clock.now | date 'EEEE, d MMMM'}" class="dkd"
        text "{clock.now | date (var.h24 ? 'HH:mm' : 'h:mm')}" class="dkt"
    }
}

command-center {
    items {
        item "Dashboard" icon="square.grid.2x2" shortcut="⌥D" { emit "dash" }
        item "Launcher" icon="magnifyingglass" shortcut="⌥Space" { emit "lnch" }
        item "Control Center" icon="switch.2" shortcut="⌥C" { emit "cc" }
        item "Session…" icon="power" { emit "sess" }
        separator
        item "Edit Bar" icon="slider.horizontal.3" { set "edit" #true }
        item "Desktop Clock" icon="clock" checked="{var.dc}" { toggle-var "dc" }
        item "Settings…" icon="gearshape" shortcut="⌘," { emit "prefs" }
        separator
        builtin "themes"
        builtin "configs"
        builtin "marketplace"
        separator
        builtin "reload-config"
        builtin "problems"
        builtin "updates"
        builtin "about"
        builtin "quit"
    }
}

bind "cmd+alt+," { emit "prefs" }
bind "alt+e" { toggle-var "edit" }

on "shell.started" when="{!var.ob}" { wait "1200ms"; emit "obo" }
on "shell.reopened" { emit "prefs" }
