var osd-moving #false

on "audio.volume-changed" {
    osd.show "volume"
    set "osd-moving" #true for="500ms"
}

osd "volume" anchor="right" timeout="2s" fuse-group="shell" {
    slider value="{audio.muted ? 0 : audio.volume}" vertical=#true class="osd-slider" {
        on-change { audio.set-volume "{event.value}" }
        fill "thumb" {
            switch "{var.osd-moving}" {
                case #true { text "{audio.volume * 100 | round}" class="osd-percent" }
                default { icon "{audio.muted ? 'status-volume-muted' : 'status-volume'}" fallback="{audio.symbol}" class="osd-glyph" }
            }
        }
    }
}
