require "0.2.0"

var po #false
var pv "net"
var pa "i-st"
var hb #false
var hf #false

var dt "dash" persist=#true
var dop #false
var drdy #false
var dsh #false
var cop #false
var lop #false

var q ""
var sel 0

var edit #false
var onboarding-done #false persist=#true
var desktop-clock #true persist=#true
var ws "dots" persist=#true
var h24 #true persist=#true
var wp #null type="record" persist=#true
var wq ""
var file-manager #null type="string" persist=#true
var tmin 25 persist=#true
var pg "look"
var cal 0
var bm persist=#true {
    - id="logo" on=#true
    - id="ws" on=#true
    - id="dock" on=#false
    - id="sp1" on=#true
    - id="win" on=#true
    - id="sp2" on=#true
    - id="tray" on=#true
    - id="clk" on=#true
    - id="st" on=#true
    - id="pw" on=#true
}

var bmk {
    - id="logo"
    - id="ws"
    - id="dock"
    - id="win"
    - id="tray"
    - id="clk"
    - id="st"
    - id="pw"
}

var hotkey-launcher "alt+space" persist=#true
var hotkey-dashboard "ctrl+alt+d" persist=#true
var hotkey-utilities "ctrl+alt+u" persist=#true
var hotkey-session "ctrl+alt+delete" persist=#true
var hotkey-settings "ctrl+alt+comma" persist=#true

filter "pct" "{(value * 100) | round}"
filter "hhmm" "{value | date (var.h24 ? 'HH:mm' : 'h:mm')}"
filter "deg" "{value == null ? '–' : ((value | round) + '°')}"

clock first-weekday="system"
weather place="{var.wp}"
apps file-manager="{var.file-manager}"
