include "presets.kdl"
include "bar.kdl"
include "popouts.kdl"
include "dash.kdl"
include "launcher.kdl"
include "session.kdl"
include "cc.kdl"
include "osd.kdl"
include "notify.kdl"
include "desk.kdl"
include "prefs.kdl"
include "ob.kdl"
include "events.kdl"
style "style.css"
