bind "hyper+space" when="{wm.enabled}" { wm.float }
bind "hyper+f" when="{wm.enabled}" { wm.fullscreen }
bind "hyper+q" when="{wm.enabled}" { wm.close }
bind "hyper+left" when="{wm.enabled}" { wm.focus "left" }
bind "hyper+right" when="{wm.enabled}" { wm.focus "right" }
bind "hyper+up" when="{wm.enabled}" { wm.focus "up" }
bind "hyper+down" when="{wm.enabled}" { wm.focus "down" }
bind "hyper+h" when="{wm.enabled}" { wm.swap "left" }
bind "hyper+j" when="{wm.enabled}" { wm.swap "down" }
bind "hyper+k" when="{wm.enabled}" { wm.swap "up" }
bind "hyper+l" when="{wm.enabled}" { wm.swap "right" }
bind "hyper+tab" when="{wm.enabled}" { wm.focus "next" }
bind "hyper+t" when="{wm.enabled}" { wm.terminal }
bind "hyper+return" when="{wm.enabled}" { wm.terminal }
bind "hyper+keypad-enter" when="{wm.enabled}" { wm.terminal }
bind "hyper+v" when="{wm.enabled}" { wm.split }
bind "hyper+e" when="{wm.enabled}" { wm.equalize }
bind "hyper+minus" when="{wm.enabled}" { wm.grow -0.05 0 }
bind "hyper+equal" when="{wm.enabled}" { wm.grow 0.05 0 }
bind "hyper+g" when="{wm.enabled}" { wm.group }
bind "hyper+]" when="{wm.enabled}" { wm.tab "next" }
bind "hyper+[" when="{wm.enabled}" { wm.tab "prev" }
bind "hyper+a" when="{wm.enabled}" { wm.group-app }
bind "hyper+s" when="{wm.enabled}" { wm.scratchpad }
bind "hyper+o" when="{wm.enabled}" { wm.display "prev" }
bind "hyper+p" when="{wm.enabled}" { wm.display "next" }
bind "hyper+comma" when="{wm.enabled}" { wm.move-display "prev" }
bind "hyper+period" when="{wm.enabled}" { wm.move-display "next" }
bind "hyper+1" when="{wm.enabled}" { wm.desktop 1 }
bind "hyper+2" when="{wm.enabled}" { wm.desktop 2 }
bind "hyper+3" when="{wm.enabled}" { wm.desktop 3 }
bind "hyper+4" when="{wm.enabled}" { wm.desktop 4 }
bind "hyper+5" when="{wm.enabled}" { wm.desktop 5 }
bind "hyper+6" when="{wm.enabled}" { wm.desktop 6 }
bind "hyper+7" when="{wm.enabled}" { wm.desktop 7 }
bind "hyper+8" when="{wm.enabled}" { wm.desktop 8 }
bind "hyper+9" when="{wm.enabled}" { wm.desktop 9 }
